h1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    text-align: center;
    margin: 5rem auto;
}

h2{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201, 63, 63);
    text-align: center;
    margin-right: 10rem;
}

body{
    background-color: rgb(65, 68, 68);
    margin: auto;
}
img{
    width: 20%;
    margin: 5% 30% 5% 30%;
}